@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.Logout>
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="logout">
        <div>
            <h1>@Model.ThankYouLabel</h1>
            <span>@Model.MainBody</span>
            @Html.ActionLink(Model.LoginCtaText, "Index", "Login")
            @Html.ActionLink(Model.HomepageCtaText, "Index", "Home")
        </div>
    </div>
</div>
