@inherits Umbraco.Web.Mvc.UmbracoViewPage<RM.MailshotsOnline.Entities.PageModels.Profile.Profile>

@{
    Layout = "~/Views/Master.cshtml";

    var fullName = string.Format("{0} {1} {2}", Model.Member.Title, Model.Member.FirstName, Model.Member.LastName);
    var topAddressLine = string.Format("{0}, {1} {2}", 
        Model.Member.FlatNumber, 
        Model.Member.BuildingNumber, 
        Model.Member.BuildingName);

}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    <div class="overview">
        <div>
            <h2>@Model.MainTitle</h2>
            <h3>@fullName</h3>
            @Model.Member.JobTitle
            <h3>@Model.EmailTitle</h3>
            @Model.Member.EmailAddress

            <div>
                @Model.UpdatePersonalDetailsCtaText
            </div>
        </div>
        <div>
            <h2>@Model.OrganisationDetailsTitle</h2>
            <h3>@Model.Member.OrganisationName</h3>
            @topAddressLine<br/>
            @Model.Member.Address1<br />
            @Model.Member.Address2<br />
            @Model.Member.City<br />
            @Model.Member.Postcode<br />
            @Model.Member.Country<br />


            <h3>@Model.WorkNumberTitle</h3>
            @Model.Member.WorkPhoneNumber

            <h3>@Model.MobileNumberTitle</h3>
            @Model.Member.MobilePhoneNumber

            <div>
                @Model.UpdateOrganisationDetailsCtaText
            </div>
        </div>
    </div>
</div>