@using RM.MailshotsOnline.Data.Constants
@using Constants = RM.MailshotsOnline.Data.Constants.Constants
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var headerNavSettings = Umbraco.Content(Constants.Settings.HeaderNavSettingsId);
    var login = Umbraco.Content(headerNavSettings.loginPage);
    var logout = Umbraco.Content(headerNavSettings.logoutPage);
    var register = Umbraco.Content(headerNavSettings.registerPage);
    var profile = Umbraco.Content(headerNavSettings.profilePage);
    var myAccoutns = Umbraco.Content(headerNavSettings.myAccountsPage);
}

<div class="header-navigation">
    @if (Umbraco.MemberIsLoggedOn())
    {
        <a href="@profile.Url">@profile.Name</a> @:| <a href="@logout.Url">@logout.Name</a> | <a href="@myAccoutns.Url">@myAccoutns.Name</a>
    }
    else
    {
        <a href="@login.Url">@login.Name</a> @:| <a href="@register.Url">@register.Name</a>
    }
</div>