@model RM.MailshotsOnline.Entities.ViewModels.PasswordViewModel

@using (Html.BeginUmbracoForm("ChangePassword", "ProfileSurface"))
{
    <h2>@Model.PageModel.PasswordSectionTitle</h2>

    <div>
        @Html.ValidationMessageFor(m => Model.CurrentPassword)
    </div>
    <div>
        @Html.LabelFor(m => Model.CurrentPassword, Model.PageModel.CurrentPasswordLabel)
        @Html.PasswordFor(m => Model.CurrentPassword)
    </div>
    <div>
        @Html.ValidationMessageFor(m => Model.NewPassword)
    </div>
    <div>
        @Html.LabelFor(m => Model.NewPassword, Model.PageModel.NewPasswordLabel)
        @Html.PasswordFor(m => Model.NewPassword)
    </div>
    <div>
        @Html.ValidationMessageFor(m => Model.ConfirmNewPassword)
    </div>
    <div>
        @Html.LabelFor(m => Model.ConfirmNewPassword, Model.PageModel.ConfirmNewPasswordLabel)
        @Html.PasswordFor(m => Model.ConfirmNewPassword)
    </div>

    <input type="submit" value="@Model.PageModel.SavePasswordCtaText" />
}

