@model RM.MailshotsOnline.Entities.ViewModels.MarketingPreferencesViewModel

@if (ViewBag.UpdateSuccess != null)
{
    if ((bool) ViewBag.UpdateSuccess)
    {
        @Model.PageModel.UpdateSuccessMessage;
    }
    else
    {
        @Model.PageModel.UpdateFailMessage
    }
}

@using (Html.BeginUmbracoForm("EditMarketingPreferences", "ProfileSurface"))
{
    <h2>@Model.PageModel.MainTitle</h2>
    @Html.Raw(Model.PageModel.RoyalMailDisclaimer)
    <h3>@Model.PageModel.RoyalMailTitle</h3>
    <div>
        @Html.EditorFor(m => m.RoyalMailMarketingPreferences)
    </div>

    @Html.Raw(Model.PageModel.ThirdPartyDisclaimer)
    <h3>@Model.PageModel.ThirdPartyTitle</h3>
    <div>
        @Html.EditorFor(m => m.ThirdPartyMarketingPreferences)
    </div>

    <input type="submit"/>

}