@model RM.MailshotsOnline.Entities.PageModels.Profile.MarketingPreferences

@if (!string.IsNullOrEmpty(ViewBag.UpdateSuccess))
{
    <div>@ViewBag.SuccessMessage</div>
}

@using (Html.BeginUmbracoForm("EditMarketingPreferences", "ProfileSurface"))
{
    <h2>@Model.MainTitle</h2>
    @Html.Raw(Model.RoyalMailDisclaimer)
    <h3>@Model.RoyalMailTitle</h3>
    <div>
        @Html.EditorFor(m => m.ViewModel.RoyalMailContactPreferences)
    </div>

    @Html.Raw(Model.ThirdPartyDisclaimer)
    <h3>@Model.ThirdPartyTitle</h3>
    <div>
        @Html.EditorFor(m => m.ViewModel.ThirdPartyContactPreferences)
    </div>

    <input type="submit"/>

}