@using System.Configuration;

@model RM.MailshotsOnline.Entities.ViewModels.RegisterViewModel

<script src='https://www.google.com/recaptcha/api.js'></script>

@using (Html.BeginUmbracoForm("RegisterForm", "RegisterSurface"))
{

    @Html.ValidationSummary();

    <div>
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Email, "Your email address")
        @Html.EditorFor(m => m.Email)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.ConfirmEmail)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmEmail, "Confirm Email")
        @Html.EditorFor(m => m.ConfirmEmail)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.FirstName, "First name")
        @Html.EditorFor(m => m.FirstName)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName, "Last name")
        @Html.EditorFor(m => m.LastName)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Title, "Your title")
        @Html.EditorFor(m => m.Title)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.Password, "Enter a password")
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword, "Confirm password")
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    <div>
        <span for="RoyalMailContactOptions">@Model.PageModel.RoyalMailContactOptionsDisclaimer</span>
    </div>
    <div>
        <label for="RoyalMailContactOptions">@Model.PageModel.RoyalMailContactOptionsLabel</label>
        @Html.EditorFor(m => m.RoyalMailContactOptions)
    </div>
    <div>
        <span for="ThirdPartyContactOptionsDisclaimer">@Model.PageModel.ThirdPartyContactOptionsDisclaimer</span>
    </div>
    <div>
        <label for="ThirdPartyContactOptions">@Model.PageModel.ThirdPartyContactOptionsLabel</label>
        @Html.EditorFor(m => m.ThirdPartyContactOptions)
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.AgreeToTermsAndConditions)
    </div>
    <div>
        @Html.LabelFor(m => m.AgreeToTermsAndConditions, "I agree to the full Terms and Conditions")
        @Html.EditorFor(m => m.AgreeToTermsAndConditions)
    </div>
    <div>
        @Html.HiddenFor(m => m.IsRecaptchaValidated)
        <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["RecaptchaSiteKey"]"></div>
    </div>
    <input type="submit" />
}
