@using System.Configuration;
@using System.Web.Mvc;

@model RM.MailshotsOnline.Entities.PageModels.Register

<script src='https://www.google.com/recaptcha/api.js'></script>

@using (Html.BeginUmbracoForm("RegisterForm", "RegisterSurface"))
{
    <section>
        @Html.DisplayFor(m => m.RequiredFieldsLabel)
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.Email)
            @Html.ValidationMessageFor(m => m.ViewModel.ConfirmEmail)
            @Html.ValidationMessageFor(m => m.ViewModel.FirstName)
            @Html.ValidationMessageFor(m => m.ViewModel.LastName)
            @Html.ValidationMessageFor(m => m.ViewModel.Title)
            @Html.ValidationMessageFor(m => m.ViewModel.Password)
            @Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ViewModel.AgreeToTermsAndConditions)
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.Email, Model.EmailLabel)
            @Html.EditorFor(m => m.ViewModel.Email)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.ConfirmEmail)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.ConfirmEmail, Model.ConfirmEmailLabel)
            @Html.EditorFor(m => m.ViewModel.ConfirmEmail)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.FirstName, Model.FirstNameLabel)
            @Html.EditorFor(m => m.ViewModel.FirstName)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.LastName, Model.LastNameLabel)
            @Html.EditorFor(m => m.ViewModel.LastName)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.Title, Model.TitleLabel)
            @Html.DropDownListFor(m => m.ViewModel.Title, new SelectList(Model.TitleOptions, "Key", "Value", Model.ViewModel.Title))
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.Password)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.Password, Model.PasswordLabel)
            @Html.PasswordFor(m => m.ViewModel.Password)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.ConfirmPassword, Model.ConfirmPasswordLabel)
            @Html.PasswordFor(m => m.ViewModel.ConfirmPassword)
        </div>
        <div>
            <span for="RoyalMailContactOptions">@Model.RoyalMailContactOptionsDisclaimer</span>
        </div>
        <div>
            <label for="RoyalMailContactOptions">@Model.RoyalMailContactOptionsLabel</label>
            @Html.EditorFor(m => m.ViewModel.CommunicationPreferencesViewModel.RoyalMailContactPreferences)
        </div>
        <div>
            <span for="ThirdPartyContactOptionsDisclaimer">@Model.ThirdPartyContactOptionsDisclaimer</span>
        </div>
        <div>
            <label for="ThirdPartyContactOptions">@Model.ThirdPartyContactOptionsLabel</label>
            @Html.EditorFor(m => m.ViewModel.CommunicationPreferencesViewModel.ThirdPartyContactPreferences)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.AgreeToTermsAndConditions)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.AgreeToTermsAndConditions, Model.AgreeToTermsAndConditionsLabel)
            @Html.EditorFor(m => m.ViewModel.AgreeToTermsAndConditions)
        </div>
    </section>

    <section>
        @Html.DisplayFor(m => m.RequiredFieldsLabel)
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.City)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Country)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber)
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber)
            @Html.ValidationMessageFor(m => m.ViewModel.IsRecaptchaValidated)
        </div>

        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode, Model.PostcodeLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName, Model.OrganisationNameLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle, Model.JobTitleLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber, Model.FlatNumberLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber, Model.BuildingNumberLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName, Model.BuildingNameLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1, Model.Address1Label)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2, Model.Address2Label)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.City)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.City, Model.CityLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.City)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.Country)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Country, Model.CountryLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.Country)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber, Model.WorkPhoneNumberLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber)
        </div>
        <div>
            @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber, Model.MobilePhoneNumberLabel)
            @Html.EditorFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber)
        </div>
        <div>
            @Html.HiddenFor(m => m.ViewModel.IsRecaptchaValidated)
            <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["RecaptchaSiteKey"]"></div>
        </div>
    </section>

    <input type="submit" />
}
