@using System.Configuration;
@using System.Web.Mvc;

@model RM.MailshotsOnline.Entities.PageModels.Register

<script src='https://www.google.com/recaptcha/api.js'></script>

@using (Html.BeginUmbracoForm("RegisterForm", "RegisterSurface", null, new Dictionary<string, object> { { "class" , "register__form" } })) {
        <section class="content-box register-stage">

            <h2 class="heading01 heading01--line-on-sides"><span class="text">First we need a few details</span></h2>

            <div class="form-row">
                <div class="required-field">@Html.DisplayFor(m => m.RequiredFieldsLabel)</div>
            </div>

            <div class="form-row validation-messages">
                <p>@Html.ValidationMessageFor(m => m.ViewModel.Email)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.ConfirmEmail)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.FirstName)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.LastName)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.Title)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.Password)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.ConfirmPassword)</p>
                <p>@Html.ValidationMessageFor(m => m.ViewModel.AgreeToTermsAndConditions)</p>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.Title, Model.TitleLabel)
                <div class="input-wrapper">
                    @Html.DropDownListFor(m => m.ViewModel.Title, new SelectList(Model.TitleOptions, "Key", "Value", Model.ViewModel.Title), new { data_bind = "value: stage1.Title" })
                </div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.FirstName, Model.FirstNameLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.FirstName, new { data_bind = "value: stage1.FirstName" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.LastName, Model.LastNameLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.LastName, new { data_bind = "value: stage1.LastName" })
                </div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.Email, Model.EmailLabel)
                <div class="input-wrapper" >
                    @Html.TextBoxFor(m => m.ViewModel.Email, new { data_bind = "value: stage1.Email" })
                </div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.ConfirmEmail, Model.ConfirmEmailLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.ConfirmEmail, new { data_bind = "value: stage1.ConfirmEmail" })
                </div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.Password, Model.PasswordLabel)
                <div class="input-wrapper">
                    @Html.PasswordFor(m => m.ViewModel.Password, new { data_bind = "value: stage1.Password" })
                </div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.ConfirmPassword, Model.ConfirmPasswordLabel)
                <div class="input-wrapper">
                    @Html.PasswordFor(m => m.ViewModel.ConfirmPassword, new { data_bind = "value: stage1.ConfirmPassword" })
                </div>
            </div>


            <hr>

            <h3 class="heading01">@Model.KeepYouInformedTitle</h3>

            @Html.Raw(Model.KeepYouInformedSectionCopy)

            <div class="form-row form-row--align-left">
                <div class="input-wrapper">
                    @Html.CheckBoxFor(m => m.ViewModel.AgreeToRoyalMailContact, new { data_bind = "value: stage1.royalMailMailAgreement" })
                </div>
                <label for="ViewModel_AgreeToRoyalMailContact">@Model.RoyalMailContactOptionsDisclaimer</label>
            </div>
            <div class="form-row form-row--align-left">
                <div class="input-wrapper">
                    @Html.CheckBoxFor(m => m.ViewModel.AgreeToThirdPartyContact, new { data_bind = "value: stage1.thirdPartyMailAgreement" })
                </div>
                <label for="ViewModel_AgreeToThirdPartyContact">@Model.ThirdPartyContactOptionsDisclaimer</label>
            </div>

            <hr>

            <div class="form-row form-row--align-right">

                <label for="ViewModel_AgreeToTermsAndConditions">
                    @Html.Raw(Model.TermsAndConditionsLabelWithLink)
                </label>

                @Html.CheckBoxFor(m => m.ViewModel.AgreeToTermsAndConditions, new { data_bind = "checked: stage1.AgreeToTermsAndConditions" })
            </div>

            <div class="form-row form-row--align-right">
                <a href="" class="btn btn--blue btn--next" data-bind="click: $root.proceedToStage2" title="">@Model.NextButtonText</a>
            </div>
        </section>

        <section class="content-box register-stage">
            <h2 class="heading01 heading01--line-on-sides">
                <span class="text">About your organisation</span>
            </h2>

            <div class="form-row">
                <div class="required-field"><span class="required-field__star">*</span> Indicates a required field</div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode, Model.PostcodeLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.Postcode, new { data_bind = "value: stage2.Postcode" })
                </div>
            </div>

            <div class="form-row form-row--align-right">
                <a href="" class="btn btn--blue btn--next" data-bind="click: $root.proceedToStage3" title="">Find Address</a>
            </div>
        </section>

        <section class="content-box register-stage">

            <div class="form-row">
                <div class="required-field">@Html.DisplayFor(m => m.RequiredFieldsLabel)</div>
            </div>


            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName, Model.OrganisationNameLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.OrganisationName, new { data_bind = "value: stage3.OrganisationName" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle, Model.JobTitleLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.JobTitle, new { data_bind = "value: stage3.JobTitle" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber, Model.FlatNumberLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.FlatNumber, new { data_bind = "value: stage3.FlatNumber" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber, Model.BuildingNumberLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingNumber, new { data_bind = "value: stage3.BuildingNumber" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName, Model.BuildingNameLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.BuildingName, new { data_bind = "value: stage3.BuildingName" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1, Model.Address1Label)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.Address1, new { data_bind = "value: stage3.Address1, valueUpdate: stage3.Address1" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2, Model.Address2Label)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.Address2, new { data_bind = "value: stage3.Address2" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.City, Model.CityLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.City, new { data_bind = "value: stage3.City" })
                </div>
               
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.Country, Model.CountryLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.Country, new { data_bind = "value: stage3.Country" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber, Model.WorkPhoneNumberLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.WorkPhoneNumber, new { data_bind = "value: stage3.WorkPhoneNumber" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber, Model.MobilePhoneNumberLabel)
                <div class="input-wrapper">
                    @Html.TextBoxFor(m => m.ViewModel.OrganisationDetailsViewModel.MobilePhoneNumber, new { data_bind = "value: stage3.MobilePhoneNumber" })
                </div>
            </div>

            <div class="form-row">
                @Html.HiddenFor(m => m.ViewModel.IsRecaptchaValidated)
                <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["RecaptchaSiteKey"]"></div>
            </div>


            <div class="form-row form-row--align-right">
                <input type="submit" value="@Model.RegisterCtaText" class="btn btn--green" data-bind="click: submit" />
            </div>

        </section>

}

