@inherits Glass.Mapper.Umb.Web.Ui.GlassViewPage<RM.MailshotsOnline.Entities.PageModels.PaymentConfirmation>
@{
    Layout = "Master.cshtml";
}

<div class="content">
    <h1>@Model.Name</h1>
    @Umbraco.RenderMacro("Breadcrumbs")
    @if (Model.DisplayCampaignErrorMessage)
    {
        <div class="rich-text">
            @Umbraco.Field("campaignErrorMessage")
        </div>
    }
    else if (Model.DisplayPaypalErrorMessage)
    {
        <div class="rich-text">
            @Umbraco.Field("payPalErrorMessage")
        </div>
    }
    else
    {
        <div class="rich-text">
            @Umbraco.Field("confirmationMessage")
        </div>
    }
</div>