@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

@using (Html.BeginUmbracoForm("RequestResetForm", "ResetPasswordSurface"))
{
    <div>
        @if (!string.IsNullOrEmpty(ViewBag.BadTokenMessage))
        {
            <span class="field-validation-error">@ViewBag.BadTokenMessage</span>
        }
        <div>
            @Html.DisplayFor(m => m.RequestIntroduction)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.RequestViewModel.Email)
            @Html.LabelFor(m => m.RequestViewModel.Email, Model.RequestEmailAddressLabel)
            @Html.EditorFor(m => m.RequestViewModel.Email)
        </div>

        <input type="submit" value="@Model.RequestPasswordResetCtaText"/>
    </div>
}