@model RM.MailshotsOnline.Entities.PageModels.ResetPassword

@using (Html.BeginUmbracoForm("ResetForm", "ResetPasswordSurface"))
{
    <div>
        <div>
            @Html.Raw(Model.ResetIntroduction)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ResetViewModel.Password)
            @Html.LabelFor(m => m.ResetViewModel.Password, Model.ResetNewPasswordLabel)
            @Html.PasswordFor(m => m.ResetViewModel.Password)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ResetViewModel.ConfirmPassword)
            @Html.LabelFor(m => m.ResetViewModel.ConfirmPassword, Model.ResetConfirmNewPasswordLabel)
            @Html.PasswordFor(m => m.ResetViewModel.ConfirmPassword)
        </div>

        <input type="submit" />
    </div>
}