@model RM.MailshotsOnline.Entities.PageModels.RequestResetPassword

@using (Html.BeginUmbracoForm("RequestResetForm", "ResetPasswordSurface"))
{
    <div>
        <div>
            @Html.DisplayFor(m => m.Introduction)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.ViewModel.Email)
            @Html.LabelFor(m => m.ViewModel.Email, Model.EmailAddressLabel)
            @Html.EditorFor(m => m.ViewModel.Email)
        </div>

        <input type="submit" value="@Model.PasswordResetCtaText"/>
    </div>
}