@using RM.MailshotsOnline.Web.Extensions
@model RM.MailshotsOnline.Entities.ViewModels.LoginViewModel

@{
    //var resetPasswordPage = Umbraco.Content(Model.PageModel.PasswordResetPage.Id);
}

@using (Html.BeginUmbracoForm("LoginForm", "LoginSurface"))
{
    @Html.ValidationSummary()
    <div>
        <label for="Email">@Model.PageModel.EmailLabel</label>
        @Html.EditorFor(m => m.Email)
    </div>
    <div>
        <label for="Password">@Model.PageModel.PasswordLabel</label>
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <a href="@Model.ResetPasswordUrl">@Model.PageModel.PasswordResetPage.Name</a>
    </div>

    <input type = "submit" />
}
