@using RM.MailshotsOnline.Web.Extensions
@model RM.MailshotsOnline.Entities.ViewModels.LoginViewModel
@using System.Web.Mvc;

@{

    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    var passwordResetUrl = umbracoHelper.Content(Model.PageModel.PasswordResetPage.Id).Url;
}

@if (ViewBag.ErrorMessage != null)
{
    <div>@ViewBag.ErrorMessage</div>
}

@using (Html.BeginUmbracoForm("LoginForm", "LoginSurface", null, new Dictionary<string, object> { { "data-bind", "submit: validateAndSubmit" } }))
{
    @Html.ValidationSummary()

    <span class="info">*indicates a required field</span>
    <div class="form-row">
        @Html.LabelFor(m => m.Email, Model.PageModel.EmailLabel)
        <div class="input-wrapper">
            @Html.TextBoxFor(m => m.Email, new { data_bind = "value: email" })
        </div>
        <p class="validation-msg" data-bind="validationMessage: email"></p>
    </div>
    <div class="form-row">
        @Html.LabelFor(m => m.Password, Model.PageModel.PasswordLabel)
        <div class="input-wrapper">
            @Html.PasswordFor(m => m.Password, new { data_bind = "value: password" })
        </div>
        <p class="validation-msg" data-bind="validationMessage: password"></p>
    </div>
    <div class="form-row password-reset">
        <a href="@passwordResetUrl">@Model.PageModel.PasswordResetCtaText</a>
    </div>
    <div>
        <button class="btn btn--blue" type="submit">@Model.PageModel.LoginCtaText</button>
    </div>
}
<div class="register-prompt">
    @Model.PageModel.RegisterPrompt <a href="@Model.PageModel.RegisterPage.Url()">@Model.PageModel.RegisterCtaText</a>
</div>