@using RM.MailshotsOnline.Web.Extensions
@model RM.MailshotsOnline.Entities.ViewModels.LoginViewModel
@using System.Web.Mvc;

@if (ViewBag.ErrorMessage != null)
{
    <div>@ViewBag.ErrorMessage</div>
}

@using (Html.BeginUmbracoForm("LoginForm", "LoginSurface"))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.Email, Model.PageModel.EmailLabel)
        @Html.EditorFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password, Model.PageModel.PasswordLabel)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <input type="submit" />
    </div>
    <div>
        <a href="@Model.ResetPasswordUrl">@Model.PageModel.PasswordResetPage.Name</a>
    </div>
}
